.body--container {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 20px;

    max-width: 470px;
}

.body--line-break {
    margin-top: 15px;
    margin-bottom: 15px;

    height: 1px;
    width: 100%;

    background-color: #f5f5f5;
    border: none;
}
