.card--container {
    width: 470px;
    height: 170px;

    display: flex;
}

/** Image */
.card--image-container {
    width: 26.6%;
    flex-shrink: 0;
}

.card--image {
    object-fit: cover;
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

/** Card Text - Right hand Side */

.card--text-block {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**         Map Details - First line of card */
.card--map-details {
    display: flex;
    align-items: flex-end;
}

.card--map-details-pin {
    width: 7px;
}

.card--map-details-location {
    padding-left: 4px;
    letter-spacing: 0.17em;
}

.card--map-details-link {
    padding-left: 12px;
    text-decoration-line: underline;
    color: #918e9b;
}

/**         Title */
.card--text-block-title {
    margin-top: 4px;
    padding-top: 0;
    padding-bottom: auto;

    height: 40px;
}

.card--text-block-dates {
    margin-top: 7px;
}

.card--text-block-description {
    margin-top: 9px;
    width: 100%;
    line-height: 150%;
}
