.footer--container {
    background-color: #f55a5a;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 7px;
}

.footer--logo {
    height: 24px;
}

.footer--title {
    font-weight: 400;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;

    color: #ffffff;
}
