h1,
h2,
h3 {
    font-family: "Inter";
    font-style: normal;
    color: #2b283a;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

h3,
a {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */
}
